.article-container {
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    width: 90%;
}

.header-article {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.delete-link {
    width: 100px;
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
}

.delete-link:hover {
    background-color: rgb(149, 3, 3);
}

.article-content {
    margin-top: 10px;
}

.delete-article-container{
    margin-left: auto
}

.header-article {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.delete-link {
    width: 100px;   
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
}

.delete-link h1 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.delete-link:hover {
    background-color: rgb(149, 3, 3);
    cursor: pointer;
}

.article-content {
    margin-top: 10px;
}

.modify-article-container{
    margin-left: auto
}

.box-modify{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-article{
    margin-right: 15px;

    width: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
}

.edit-article h1 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.edit-article:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}