.submitButton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
  }

.create-article-container h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
    font-weight: normal;
  }

.create-article-container {
    padding: 20px;
    border-radius: 8px;
    margin-right: 100px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 80%;
}

.text-container textarea{
    width: 500px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 15px;
    height: 500px;
    padding: 10px;
    font-size: 18px;
    resize: none;  
    outline: none; 
    font-family: 'Times New Roman';
}

.editor {
  margin-left: 100px;
}

.preview-text{
  margin-top: -20px;
  font-size: 18px;
  text-align: justify;
  word-wrap: break-word;
  overflow-y: auto;
  font-family: 'Times New Roman';
}

.preview-container {
  width: 500px;
  height: 500px;
  overflow-y: auto;
  border: 1px solid #000000;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
  resize: none;  
  outline: none;   
}

.text-container label{
  font-size: 25px;  
}

.text-container{
  display: flex;   
  flex-direction: row;       
  align-items: center;
  padding: 5px;             
  justify-content: center;      
  margin: 20px auto;
  text-align: center; 
}

.title-container {

    display: flex;   
    flex-direction: column;       
    align-items: center;
    text-align: center;
    justify-content: center;      
    padding: 5px;             
    margin: 20px auto;
}

.title-container textarea {
    width: 80%; 
    border: 1px solid #000000;
    border-radius: 15px;
    height: 15%;
    padding: 10px;
    align-content: center;
    font-size: 25px;
    resize: none;
    outline: none; 
    font-family: 'Times New Roman'
}

.title-container label{   
    font-size: 25px;         
}

.submitButton-container button[type="submit"] {
  background-color: #182833; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 8px;
}

.submitButton-container button:hover {
  background-color: #1F4762;
}    
