
{% extends "encyclopedia/layout.html" %}
{% load static %}
{% comment %} This page implements two types of functionalities, one for
              editing already existing pages and one for creating new pages 
{% endcomment %}

{% load filter %}

{% block title %}

{% comment %} Name shown in the tab depening on what was choosen to be done {% endcomment %}
    {% if not entry %}
        Create New Page
    {% else %}
        Edit Page
    {% endif %}

{% endblock %}

{% block body %}

    <head>
        <link href="{% static 'encyclopedia/editor.css' %}" rel="stylesheet">
    </head>

    {% comment %} Messages displayed to the user if they don't comply
                  with some specification, in this page so far are added
                  warings for "Page already exists" and "Entry must have a 
                  title and content 
    {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
        {% endfor %}
    {% endif %}
    
    {% comment %} Main div with the two types of input areas {% endcomment %}
    <div class="textInputs">
        {% comment %} If there is no entry from the user we create a new page with an
                      input for a title and textarea for content and button to submit 
        {% endcomment %}
        {% if not entry %}
            <form action="{% url 'encyclopedia:newPage' %}" method="post">
                {% csrf_token %}

                <div class="editor-box">
                    <h1>Nova Página</h1>
                    <div class="input-group">
                        <input class="titleInput" type="text" name="title" placeholder="Título">
                    </div>
        
                    <div class="textarea-group">
                        <textarea name="textArea" rows="5" cols="20"></textarea>
                    </div>
    
                    <div class="button-group">
                        <button type="submit">Criar página</button>
                    </div>
                </div>

            </form>
        {% else %}
        {% comment %} This condition is true if there's an input from the user
                      meaning it want to edit an already existing content with only
                      a text area to edit the content, plus an aditional "Delete Page" 
                      button.
        {% endcomment %}
            <form action="{% url 'encyclopedia:edit' entryName %}" method="post">
                {% csrf_token %}
                <h1>Edit {{entryName|replaceHyphensWithSpaces }} </h1>

                <div class="editor-box">
                    <h1>Nova Página</h1>
                    <div class="textarea-group">
                        <textarea name="textArea" rows="5" cols="20">{{ entry }}</textarea>
                    </div>
    
                    <div class="button-group">
                        <button type="submit">Editar Página</button>
                        <button type="submit" name="delete">Deletar Página</button>
                    </div>
                </div>

            </form>
        {% endif %}
    </div>
      
{% endblock %}

